/* -*- mode: c; -*- */

/*
 * PatchFile -- generate a rule to patch a file before some further
 * processing.
 * Destination file is a made in all and cleaned in clean targets.
 */

#ifndef PatchFile
#define PatchFile(src,dest,pattern)					@@\
dest:: src								@@\
	$(SED) -e pattern src > $@					@@\
all:: dest								@@\
clean::									@@\
	RemoveFile(dest)
#endif /* PatchFile */


/*
 * InstallMultipleByMaskDestFlags - generate rules to install multiple files
 * matching specified mask during a particular step in the build using a
 * specific set of install flags.
 */

#ifndef InstallMultipleByMaskDestFlags
#define InstallMultipleByMaskDestFlags(step,dir,mask,dest,flags)	@@\
step:: dir								@@\
	MakeDir($(DESTDIR)dest)						@@\
	@MakeFlagsToShellFlags(i,set +e); \				@@\
	for i in `ls dir/mask`; do \					@@\
		(set -x; $(INSTALL) $(INSTALLFLAGS) flags $$i $(DESTDIR)dest); \	@@\
	done
#endif /* InstallMultipleByMaskDestFlags */

#ifndef InstallMultipleByMaskDest
#define InstallMultipleByMaskDest(step,dir,mask,dest)			@@\
InstallMultipleByMaskDestFlags(step,dir,mask,dest,$(INSTDATFLAGS))
#endif /* InstallMultipleByMaskDest */

#ifndef InstallMultipleByMask
#define InstallMultipleByMask(dir,mask,dest)				@@\
InstallMultipleByMaskDest(install,dir,mask,dest)
#endif /* InstallMultipleByMask */

